<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <bean id="QuestionService" class="ru.otus.spring.service.TrainingImp">
           <constructor-arg name="loader" ref="LoaderCsv"/>
       </bean>

        <bean id="LoaderCsv" class="ru.otus.spring.dao.LoaderCsvImp">
            <constructor-arg name="path" value="data/questions.EN.csv"/>
        </bean>



</beans>
