
  <main class="page-content">
      <nav class="page-nav">
         <span>Authors</span>
         <span>Genres</span>
         <span>Books</span>
      </nav>

      <aside>
         <hr>
      </aside>

      <div class="app-authors" id="app-authors" name="app-authors"></div>
      <div class="app-genres"></div>
      <div class="app-books"></div>

      <div class="table-main">
          <span>table: Genres</span>
          <header class="table-header">
              <span>ID</span>
              <span>name</span>
              <span>edit</span>
              <span>delete</span>
          </header>
      </div>

      <div class="table-main">
          <span>table: Books</span>
          <header class="table-header">
              <span>ID</span>
              <span>title</span>
              <span>name</span>
              <span>name</span>
          </header>
      </div>

  </main>
