$color-border: lightblue;

.author-editor{
    display: grid;
    grid-template-areas:
    "header  header  header  header"
    "label1  id      id      id"
    "label2  name    name    name"
    "filler  button1 button2 button2"
    "footer  footer  footer  footer"

    ;
    // grid-template-columns: min-content min-content min-content;
    grid-template-rows: repeat(3, min-content) 1fr;

    align-content: center;
    align-items: start;
    justify-items: start;
    gap: 10px;

    border: 2px solid $color-border;
    border-radius: 10px;
    padding: 5px 5px 5px 20px;

    .editor-header{  grid-area: header; }
    .editor-label1{  grid-area: label1; }
    .editor-label2{  grid-area: label2; }
    .editor-id{      grid-area: id; }
    .editor-name{    grid-area: name; }
    .editor-button1{ grid-area: button1; }
    .editor-button2{ grid-area: button2; }
    .editor-button3{ grid-area: button3; }
    .editor-footer{  grid-area: footer; }
  }
