$color-border: lightblue;

/* component layout */
.side-main {
  display: grid;
  justify-content: left;
  grid-template-columns: auto auto;

  justify-content: start;
  align-items: start;
  gap: 10px;

  .side-left{
    display: grid;
    gap: 0.3em;

    border: 2px solid $color-border;
    border-radius: 10px;
    padding: 10px;

    .author-row {
      display: grid;
      align-items: center;
      grid-template-columns: 50px auto 100px;
      grid-template-rows: 1.6em;
      gap: 5px;
    }
  }

  .side-right{
    display: grid;
  }
}

