<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Author</title>
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav th:insert="/menu/header :: top-menu"></nav>
    <h3 th:text="#{author-delete-title}">Редактирование Автора</h3>

    <form class="edit-form" enctype="application/x-www-form-urlencoded"
          th:method="post"
          th:action="@{/authors/__${author.id}__/edit}" action=""
          th:object="${author}">
        <!--  -->
        <input type="hidden" id="author-id-input" name="id" th:value="${author.id}" value="-1">
        <!--  -->
        <label for="author-name-input" th:text="#{author-add-name}">Автор известен как :</label>
        <input type="text"  id="author-name-input" name="fullName" th:value="${author.fullName}" value="John Doe">
        <!--  -->
        <button type="reset"  th:text="#{button-caption-reset}">Reset</button>
        <button type="submit" th:text="#{button-caption-edit}">Сохранить</button>
    </form>

    <nav th:insert="/menu/footer :: bottom-menu"></nav>
</body>
</html>
